html, body{
  height:100%;
}

body{
  text-align: center;
  background-color:#f2f2f2;
  font-family:"Courier New", monospace;
}

header{
  margin:0 auto;
}

h1{
  background-color: #333;
  color: #f2f2f2;
  padding: .5em;
}

article a{
  background-color:#333;
  color:#f2f2f2;
  padding: 10px;
  display:inline-block;
  text-decoration:none;
}

article a:hover{
  background-color: #f2f2f2;
  color:#333;
  text-decoration:underline;
}

img {
  margin: 3em auto;
  width: 20em;
}

ul{
  padding:0;
}

li{
  display:inline;
}

footer{
  background-color:#333;
  color:#f2f2f2;
  padding:1em;
  margin-top:10em;
}

footer a{
  background-color:#f2f2f2;
  color:#333;
  padding: 10px;
  display:inline-block;
  text-decoration:none;
}

footer a:hover{
  background-color: #333;
  color:#f2f2f2;
  text-decoration:underline;
}